<h1>Courses#destroy</h1>
<p>Find me in app/views/courses/destroy.html.erb</p>

<h1 class="text-muted"><%= @course.name %>'s page</h1>

<h2 class="btn btn-primary">name :<%= @course.name%> </h2>
<h2>couse_code :<%= @course.couse_code%> </h2>
<h2>course_description :<%= @course.course_description%> </h2>
<h2>credit_hour :<%= @course.credit_hour%> </h2>
<h2>ects :<%= @course.ects%> </h2>

<h1>HAS BEEN REMOVED!!</h1>